<!-- FOOTER NO - 1 START -->
<div class="container-fluid back">
    <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 mj">
                    <a href="">
                        <img src="assets/image/fflogo.png" class="image">
                    </a>
                </div>
                <div class="col-md-7 col-sm-7 mj">
                    <h2 class="topic1" style="padding-top: 40px;"><span class="topic2">CONTACT</span> US</h2>
                    <p class="para">We're a team focusing on redefining the way the hospitality industry works by
                        bringing in concept based restaurants across India. We are truly committed to catering to the
                        ever-changing cosmopolitan taste of the customer and revolutioning the F &amp; B industry!</p><br>
                    <div class="row top">
                        <div class="col-md-6">
                            <h6 class="h6">Address</h6>
                            <h6> 6, Chanakyapuri Shopping Complex, 48, Malcha Marg, New Delhi 110021 </h6>
                        </div>
                        <div class="col-md-6 dist">
                            <h6 class="h6">Franchise Enquiry</h6>
                            <h6>Mobile: <span class="h6">+91 9313663486</span></h6>
                            <h6>Email: <span class="h6">franchise@firstfiddle.in</span></h6>
                        </div>
                    </div>
                    <div class="row top">
                        <div class="col-md-6"><br>
                            <h6 class="h6">HR Enquiry</h6>
                            <h6> 6, Chanakyapuri Shopping Complex, 48, Malcha Marg, New Delhi 110021 </h6>
                        </div>
                        <div class="col-md-6 dist"><br>
                            <h6 class="h6">Other Enquiry</h6>
                            <h6>Email: <span class="h6"> customercare@firstfiddle.in</span></h6>
            </div>
                    </div><br>
                    <div class="row top">
                        <div class="col-md-6 h6">
                            <i class="fab fa-linkedin fa-2x icon"></i>&nbsp;&nbsp;
                            <i class="fab fa-facebook-square fa-2x icon"></i>&nbsp; &nbsp;
                            <i class="fab fa-twitter fa-2x icon"></i>&nbsp; &nbsp;
                            <i class="fab fa-instagram fa-2x icon"></i>&nbsp; &nbsp;
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- FOOTER NO - 1 END -->
<!-- FOOTER NO - 2 START -->
<div class="container-fluid footer">
<div class="container text-center text-white">
    <div class="row col-md-12 pg">
        <p class="pg1">PRIVACY POLICY | TERMS AND CONDITIONS | BLOG</p>
    </div>
    <div class="row col-md-12 pg">
        <p>COPYRIGHT © 2021 FIRST FIDDLE F&amp;B PRIVATE LIMITED</p>
    </div>
</div>
</div>
<!-- FOOTER NO - 2 END -->
