<!-- BANNER SECTION END -->
<div class="container-large">
    <img src="assets/image/press.jpg" class="weblogo">
    <img src="assets/image/pressmob.jpg" class="moblogo">
    <div class="container-fluid brand">
      <div class="row">
        <h1 class="middle">PRESS RELEASE</h1>
      </div>
    </div>
  </div>
  <!-- BANNER SECTION END -->
  <!-- PHOTO SECTION START -->
  <div class="container-fluid">
    <div class="container"><br>
      <div class="row mg ">
      <p class="text-center">OFFLINE</p>
      <hr>
        <div class="col-md-4 line">
            <img src="assets/image/1.png" alt="" style="width: 250px;">
          </div>
          <div class="col-md-4 line">
            <img src="assets/image/2.png" alt="" style="width: 250px;">
          </div>
          <div class="col-md-4 line">
            <img src="assets/image/3.png" alt="" style="width: 250px;">
          </div>
          <div class="col-md-4 line">
            <img src="assets/image/4.png" alt="" style="width: 250px;">
          </div>
          <div class="col-md-4 line">
            <img src="assets/image/5.png" alt="" style="width: 250px;">
          </div>
          <div class="col-md-4 line">
            <img src="assets/image/6.png" alt="" style="width: 250px;">
          </div>
          <div class="col-md-4 line">
            <img src="assets/image/7.png" alt="" style="width: 250px;">
          </div>
          <div class="col-md-4 line">
            <img src="assets/image/8.png" alt="" style="width: 250px;">
          </div>
      </div>
    </div>
  </div><br>
  <!-- PHOTO SECTION END -->
  <!-- SCROLL PAGE SECTION START -->
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 box">
          <h4 class="text-center">ONLINE MENTIONS</h4><br>
            <div class="row">
              <div class="col-md-5">
                <img src="assets/image/prime.jpg" style="width: 100%;">
              </div><br>
              <div class="col-md-7 scroll">
                <p class="dat">FEB 18, 2020</p>
                <h5>ET PRIME</h5>
                <p class="dat">"Go big, or go home: Lazeez Affaire to Lord of the Drinks, Priyank Sukhija’s success recipe for dining"</p>
                <a href="" style="font-size:13px;" target="_blank" >READ FULL ARTICLE</a>
                <span style="border-bottom: 1px solid #80808078; margin-top: 10px; margin-bottom: 20px;"></span>
                <p class="dat">JUL 16, 2018</p>
                <h5>ANI</h5>
                <p class="dat">"First Fiddle Restaurants aims top-line growth by 2020; to opt for franchising route to expansion"</p>
                <a href="" style="font-size:13px;" target="_blank">READ FULL ARTICLE</a>
                <span style="border-bottom: 1px solid #80808078; margin-top: 10px; margin-bottom: 20px;"></span>
                <p class="dat">JUN 07, 2019</p>
                <h5>BUSINESS LINE</h5>
                <p class="dat">"First Fiddle opens outlet in Chennai"</p>
                <a href="" style="font-size:13px;" target="_blank">READ FULL ARTICLE</a>
                <span style="border-bottom: 1px solid #80808078; margin-top: 10px; margin-bottom: 20px;"></span>
                <p class="dat">JUL 16, 2018</p>
                <h5>BUSINESS STANDARD</h5>
                <p class="dat">"First Fiddle Restaurants aims top-line growth by 2020; to opt for franchising route to expansion"</p>
                <a href="" style="font-size:13px;" target="_blank">READ FULL ARTICLE</a>
                <span style="border-bottom: 1px solid #80808078; margin-top: 10px; margin-bottom: 20px;"></span>
                <p class="dat">MAY 20, 2018</p>
                <h5>BUSINESS TODAY</h5>
                <p class="dat">"Happy Hour"</p>
                <a href="" style="font-size:13px;" target="_blank">READ FULL ARTICLE</a>
                <span style="border-bottom: 1px solid #80808078; margin-top: 10px; margin-bottom: 20px;"></span>
                <p class="dat">JUL 17, 2020</p>
                <h5>BUSINESS WORLD</h5>
                <p class="dat">"Fly High While Experiencing Newly Launched Dragonfly"</p>
                <a href="" style="font-size:13px;" target="_blank">READ FULL ARTICLE</a>
                <span style="border-bottom: 1px solid #80808078; margin-top: 10px; margin-bottom: 20px;"></span>
                <p class="dat">JUN 16, 2020</p>
                <h5>CHENNAI ONLINE</h5>
                <p class="dat">"LORD OF THE DRINKS LAUNCHES IN SOUTH INDIA WITH CHENNAI’S LARGEST RESTO-BAR"</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div><br>
  <!-- SCROLL PAGE SECTION END -->