.weblogo{
    width: 100%;
    height: 725px;
  }
  .moblogo{
    display: none;
  }
  .middle{
    font-family: 'prague';
      font-size: 80px;
      margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    position: absolute;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    top: 45%;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .para{
    line-height: 18px;
    letter-spacing: 2px;
    text-align: justify;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
  }
  .icon{
    color: #fcb21b;
  }
  .poto{
    margin-top: 20px;
  }
  
  
  
  @media(max-width: 700px){
    .weblogo{
      display: none;
    }
    .moblogo{
      display: block;
      width: 100%;
    }
    .middle{
      font-family: 'prague';
      font-size: 56px;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
      position: absolute;
      color: #fff;
      text-align: center;
      left: 0;
      right: 0;
      top: 30%;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
    .pot{
      margin-top: 20px;
    }
  }