<!-- BANNER SECTION START -->
<div class="container-large">
    <img src="assets/image/meetteam.jpg" class="weblogo">
    <img src="assets/image/meetteammob.jpg" class="moblogo">
    <div class="container-fluid brand">
        <div class="row">
            <h1 class="middle">MEET THE TEAM</h1>
        </div>
    </div>
</div><br>
<!-- BANNER SECTION END -->
<!-- PRIYANK SECTION START -->
<div class="container-fluid">
    <div class="container">
        <div class="row mt-20">
            <div class="col-md-5 priyank mt-20">
                <img alt="image" class="d-block w-100"
                    src="https://www.firstfiddle.in/assets/images/priyank-sukhija.jpg">
            </div>
            <div class="col-md-6"><br>
                <h2 class="meet-the-team2">Priyank Sukhija</h2><strong class="intro customintro meet-the-team2">C.E.O.
                    &amp; M.D.</strong><br><br>
                <p class="text-justify para">Priyank Sukhija is a prolific restauranteur, industrious to the core and a
                    true innovator! A simple man, he doesn’t sweat of success. An amiable personality, he is zealous
                    towards what he does. Born in a family of educated lawyers, Priyank has been the captain of his own
                    boat. The only businessman in the family, he opened the fine-dining restaurant Lazeez Affaire at
                    Malcha Marg, with support from his parents at the young age of 19. The success of Lazeez Affaire
                    prompted him to take Delhi’s existing culinary experience and transform it into something no one
                    could foresee. Priyank Sukhija is a prolific restaurateur, industrious to the core and a true
                    innovator! A simple man, he doesn’t sweat of success.</p>
                <button class="btn btn-warning">Read More</button><br><br>
                <div class="social-icons mainfooters icon">
                    <i class="fab fa-facebook-square fa-2x icon"></i>&nbsp; &nbsp;
                    <i class="fab fa-twitter fa-2xb icon"></i>&nbsp; &nbsp;
                    <i class="fab fa-instagram fa-2x icon"></i>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
<!-- PRIYANK SECTION START -->
<!-- PHOTO SECTION START -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pot">
                <img src="assets/image/1as.jpg" class="w-100">
            </div>
            <div class="col-md-4 pot">
                <img src="assets/image/2gs.jpg" class="w-100">
            </div>
            <div class="col-md-4 pot">
                <img src="assets/image/3br.jpg" class="w-100">
            </div><br>
            <div class="col-md-4 poto">
                <img src="assets/image/4dr.jpg" class="w-100">
            </div>
            <div class="col-md-4 poto">
                <img src="assets/image/5sb.jpg" class="w-100">
            </div>
            <div class="col-md-4 poto">
                <img src="assets/image/6hr.jpg" class="w-100">
            </div>
            <div class="col-md-4 poto">
                <img src="assets/image/7sr.jpg" class="w-100">
            </div>
            <div class="col-md-4 poto">
                <img src="assets/image/8jp.jpg" class="w-100">
            </div>
            <div class="col-md-4 poto">
                <img src="assets/image/9vb.jpg" class="w-100">
            </div>
            <div class="col-md-4 poto">
                <img src="assets/image/10dp.jpg" class="w-100">
            </div>
            <div class="col-md-4 poto">
                <img src="assets/image/11dn.png" class="w-100">
            </div>

        </div>
    </div>
</div><br>
<!-- PHOTO SECTION END -->