<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <app-interpolation-binding></app-interpolation-binding> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-attribute-binding></app-attribute-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-if></app-if> -->
<!-- <app-for></app-for> -->
<!-- <app-switch></app-switch> -->
<!-- <app-child parentToChild="Sourav Rajput"></app-child> -->
