<!-- BANNER SECTION START -->
<div class="container-large">
    <img src="assets/image/brands.jpg" class="weblogo">
    <img src="assets/image/brandsmob.png" class="moblogo">
    <div class="container-fluid brand">
      <div class="row">
        <h1 class="middle">BRANDS</h1>
      </div>
    </div>
  </div>
  <!-- BANNER SECTION END -->
  <!-- PHOTO SECTION START -->
  <div class="container-fluid">
    <div class="container">
      <div class="row">
          <div  class="col-md-4" style="margin-top: 50px;">
            <img  class="w-100" src="assets/image/b(3).jpg" alt="Dragonfly Experience">
          </div>
          <div  class="col-md-4" style="margin-top: 50px;">
            <img  class="w-100" src="assets/image/b(4).jpg" alt="The Flying Saucer Cafe">
          </div>
          <div  class="col-md-4" style="margin-top: 50px;">
            <img class="w-100" src="assets/image/b(5).png" alt="Rocky Star">
         </div>
        <div  class="col-md-4" style="margin-top: 50px;">
            <img class="w-100" src="assets/image/b(6).jpg" alt="Tamasha">
        </div>
        <div  class="col-md-4" style="margin-top: 50px;">
          <img class="w-100" src="assets/image/b(7).png" alt="Teddy Boy">
        </div>
        <div  class="col-md-4" style="margin-top: 50px;">
          <img class="w-100" src="assets/image/b(8).jpg" alt="Lazeez Affaire">
        </div>
        <div  class="col-md-4" style="margin-top: 50px;">
          <img  class="w-100" src="assets/image/b(10).jpg" alt="Openhouse Cafe">
        </div>
        <div class="col-md-4" style="margin-top: 50px;">
          <img class="w-100" src="assets/image/b(11).jpg" alt="RPM Cafe">
        </div>
        <div  class="col-md-4" style="margin-top: 50px;">
          <img  class="w-100" src="assets/image/b(12).jpg" alt="Daddy Bar">
        </div>
        <div class="col-md-4" style="margin-top: 50px;">
          <img class="w-100" src="assets/image/b(13).jpg" alt="Diablo">
        </div>
        <div class="col-md-4" style="margin-top: 50px;">
          <img class="w-100" src="assets/image/b(15).jpeg" alt="Miso Sexy">
        </div>    
      </div>
    </div>
  </div><br><br><br>
  <!-- PHOTO SECTION END -->