<p>style-binding works!</p>
<div class="p-4 bg-danger text-white text-center">
    <h1>Attribute Directives in Angular 8</h1>
    <ul style="list-style-type:none">
        <li class="display-4">NgStyle</li>
        <li class="display-4">NgClass</li>
    
    </ul>
</div>

<div class="container mt-5">
    <button [ngStyle]="{'color':'red'}">Submit Form</button>
    <button [ngStyle]="mystyle">Submit Form1</button>
</div>

<h3>ng class</h3>
<div class="container mt-5 text-center">
    <p [ngClass]="'color fontme borderme'">pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)
        pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)
        pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)
        pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)
        pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)

    </p>

    <p [ngClass]="myclass">pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)
        pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)
        pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)
        pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)
        pninfosys My company is : pninfosys 25 30 Fri Feb 14 2020 11:52:09 GMT+0530 (India Standard Time)

    </p>
</div>