<!-- SLIDER START -->
<div id="carouselExampleIndicators" class="carousel slide sm-mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="assets/image/bougie.jpg" class="d-block w-100" alt="...">
            <h1 class="brahead">BOUGIE</h1>
         </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/image/miso.jpg" class="d-block w-100" alt="...">
            <h1 class="brahead">MISOSEXY</h1>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/image/diablo.jpg" class="d-block w-100" alt="...">
            <h1 class="brahead">DIABLO</h1>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/image/dragon.jpg" class="d-block w-100" alt="...">
            <h1 class="brahead">DRAGONFLY</h1>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/image/lotd.jpg" class="d-block w-100" alt="...">
            <h1 class="brahead">LORD OF THE DRINKS</h1>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div><br>
  <!-- SLIDER END -->
  <!-- WELCOME TO FIRST FIDDLE START -->
  <div class="container-fluid">
    <div class="container">
      <h2 class="text-center topic1">WELCOME TO <b class="topic2">FIRST FIDDLE</b></h2>
      <!-- <h2>{{data}}</h2>
      <table class="table table-bordered">
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        <tr *ngFor= "let s of student">
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.age}}</td>
            <td>{{s.email}}</td>
    
        </tr>
    
    </table> -->
      <br>
      <div class="row">
        <div class="col-md-7">
          <p class="para">First Fiddle Restaurants, one of India’s most prominent F&B companies in the casual dining sector, is headed by Priyank Sukhija. Starting the journey from Lazeez Affair in 1999 to Miso Sexy and Bougie in 2022, we have created wave after wave in the industry with over 30+ restaurants, brands, and franchises across India.</p>
          <a href="" class="btn btn-outline-warning boton">JOIN THE JOURNEY</a><br>
        </div>
        <div class="col-md-5 text-center">
          <img src="assets/image/chair1.png" class="img1">
          <img src="assets/image/chair1.png" class="img2">
        </div>
      </div>
    </div>
  </div><br>
  <!-- WELCOME TO FIRST FIDDLE END -->
  <!-- MEDIA MENTIONS START -->
  <div class="container-fluid banner1">
    <div class="container">
      <div class="row">
        <div class="col-md-2 bac">
        </div>
        <div class="col-md-8 text-center">
          <h2 class="text-center text-white mt-20 media">MEDIA MENTIONS</h2>
          <p class="text-center text-white tex">We’ve been making splashes and headlines since 1999 for our innovative concepts and aesthetic ideations, experimental gastronomic affairs, and exotic mixology. We’ve made our way from the heart of the country into the hearts of its people!</p>
          <a class="btn mtop boton2" routerlink="/press-releases" [routerLink]="['/detail',1]">KNOW MORE</a>
        </div>
      </div>
    </div>
  </div><br>
  <!-- MEDIA MENTIONS END -->
  <!-- EXPLORE OUR BRANDS START -->
  <div class="container-large banner2">
    <div class="row">
      <h2 class="text-center topic1">EXPLORE <b class="topic2">OUR BRANDS</b></h2>
    </div><br>
    <div class="container">
      <div class="row slider">
          <div class="col-md-3">
              <div class="card">
                  <img src="assets/image/f1.jpeg">
              </div>
          </div>
          <div class="col-md-3">
              <div class="card">
                  <img src="assets/image/f2.jpg">
              </div>
          </div>
          <div class="col-md-3">
              <div class="card">
                  <img src="assets/image/f3.png">
              </div>
          </div>
          <div class="col-md-3">
              <div class="card">
                  <img src="assets/image/f4.jpg">
              </div>
          </div>
      </div>
    </div><br>
  </div><br>
  <!-- EXPLORE OUR BRANDS END -->
  <!-- EXPERIENCE OUR COCEPT START -->
  <div class="container-fluid banner4">
      <div class="container">
          <div class="row">
              <div class="col-md-2 bac">
              </div>
              <div class="col-md-8 text-center">
                  <h2 class="text-center text-white mt-20 media">EXPERIENCE OUR CONCEPTS</h2>
                  <p class="text-center text-white tex">Moving beyond just offering Indian, international, and fusion cuisines, our restaurants create magic with our special events, mood-setting music, Insta-worthy aesthetics, and tongue-tingling signatures! Head over to experience it for yourself!</p><br>
                  <a class="btn mtop boton2" routerlink="/press-releases" href="/press-releases">KNOW MORE</a><br>
              </div>
          </div>
      </div>
  </div>
  <!-- EXPERIENCE OUR COCEPT END -->
